body {
  height: 1000vh;
}

#home h1 {
  font-family: "Grey qo", montserrat;
  font-size: 8rem;
}

#catalogue {
  margin-top: 5rem;
}

#catalogue p {
  font-size: 1.5rem;
}

.change-image {
  width: 50%;
  display: block;
  margin: auto;
  transition: all 0.5s ease; /* Transisi halus */
  cursor: pointer; /* Ubah kursor menjadi pointer */
}

.change-image:hover {
  content: url("../images/catalogue/RIB-CGH.jpg"); /* Ganti dengan gambar baru */
}

@media (max-width: 576px) {
  #home h1 {
    font-size: 4rem;
  }

  #catalogue p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .change-image {
    width: 25%;
  }
}
